.overlay {
    flex: 1;
    z-index: 5;
    background-color: #0005;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.end-modal {
    backdrop-filter: none;
    background-color: transparent;
    justify-content: space-between;
    padding-block: 20;
}

.overlay h2 {
    margin-top: 50px;
    color: var(--primary-color);
    text-shadow: var(--shadow);
}

.modal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    width: fit-content;
    max-width: 600px;
    height: fit-content;
    max-height: 80vh;
    background-color: var(--background-color);
    overflow: auto;
    padding: 2rem;
    text-align: left;
    box-shadow: var(--shadow);
    border-radius: 1rem;
    border: var(--border);
}

.modal-container ul{
    max-height: 70%;
    flex:1;
    overflow-y: auto;
}

.modal-container p {
    padding-inline: 5vw;
    text-align: center;
}

li {
    padding-block: 1vh;
    list-style-type: circle;
    margin-inline: 10%;
}

.intermediate-rules {
    z-index: 12;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    max-height: 90vh;
}

