
.end-modal-overlay {
    backdrop-filter: none;
    background-color: transparent;
    gap:30vh;
    flex:1;
    height: 100%;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.end-modal-overlay h2 {
    text-shadow: var(--shadow);
  }

.modal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1em;
    min-width: 300px;
    width: 40vw;
    max-width: 100%;
    height: fit-content;
    max-height: calc(100% - 120px);
    background-color: var(--background-color);
    padding: 2rem;
    box-shadow: var(--shadow);
    border-radius: 1rem;
    border: var(--border);
}

.modal-container ul{
    max-height: 50vh;
    flex:1;
    overflow-y: auto;
    text-align: left;
}

.modal-container p {
    padding-inline: 5vw;
    text-align: center;
}

li {
    padding-block: 1vh;
    list-style-type: circle;
    margin-inline: 10%;
}

.intermediate-rules {
    z-index: 12;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    max-height: 90vh;
    min-width: 300px;
}

