/* Header & Footer */


header {
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    background-color: var(--primary-color);
    z-index: 10;
    height: fit-content;
    max-height: 10vh;
    overflow: hidden;
    cursor: default;
    border-bottom: var(--border);
}

@media screen and (max-width: 768px) {
    @supports (-webkit-touch-callout: none) {

        header {
            max-height: 15px;
            transition: max-height 0.3s ease;
            font-size: calc(var(--base-sizing) / 2);
        }

        header * {
            text-wrap: nowrap;
            font-size: calc(var(--base-sizing) / 2);
        }

        header:hover {
            max-height: 50px;
        }

        header:hover * {
            text-wrap: nowrap;
            font-size: calc(var(--base-sizing));
        }

        footer {
            max-height: 15px;
            transition: max-height 0.3s ease;
        }

        footer:hover {
            max-height: fit-content;
            max-height: 50px;
        }
    }
}

header h2 {
    position: sticky;
    right: 50%;
    transform: translateX(50%);
    margin-inline: 150px;
}

.header-options {
    display: flex;
    justify-content: right;
    padding-right: 2vw;
    text-wrap: nowrap;
}

header .logo {
    margin-left: 1vw;
    margin-right: auto;
    visibility: hidden;
    aspect-ratio: 1;
    max-height: var(--h2-font-size);
}

@media (max-width: 768px) {
    header h2 {
        display: none;
    }

    header .logo {
        visibility: visible;
        z-index: 10;
    }

}

footer {
    margin-top: auto;
    z-index: 10;
    background-color: var(--primary-color);
    width: 100%;
    border-top: var(--border);
}

footer div {
    font-size: clamp(0.5rem, 0.77vw, 1rem);
}