.ui-container {
    display: flex;
    padding: 1em;
    z-index: 1;
    pointer-events: none;
    justify-content: space-between;
    width: 100%;
    flex: 1;
    height: 100%;
}


.hint-container {
    pointer-events: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.5em;
    max-height: 80vh;
}

.hint-container details {
    pointer-events: all;
    width: calc(var(--base-sizing)*8);
    background-color: var(--primary-color);
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 10px;
    box-shadow: var(--shadow);
    transition: width 0.5s;
    border: var(--border);
}

.hint-container details[open] {
    width: calc(var(--base-sizing)*15);
}

.hint-container details:hover {
    width: calc(var(--base-sizing)*15);
}

.hint-container details p {
    padding-block: 0.5em;
}

.ui-container-right {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    pointer-events: all;
    align-items: flex-end;
    gap: 1em;
}

.ui-container-right * {
    display: flex;
    align-items: center;
    justify-content: right;
}
.scoring-container {
    display: flex;
    max-width: 20vw;
    gap: 0.5em;
}

.scoring-container div {
    border-radius: 10px;
    background-color: var(--primary-color);
    width: 70px;
    max-width: fit-content;
    padding-block: 5px;
    padding-inline: 10px;
    box-shadow: var(--shadow);
    border: var(--border);
    display: flex;
    flex-direction: row;
    gap: 5px;
    transition: all 0.5s ease;
    text-wrap: nowrap;
    text-align: center;
    transition-delay: 0.1s;
}

.hidden-text {
    display: none;
    overflow-x: hidden;
}
.scoring-container div:hover{
    width: 200px;
    transition: all 0.5s ease;
}
.scoring-container div:hover .hidden-text {
    display: block;
}

.clock {
    width: 8vw;
    aspect-ratio: 1;
    border-radius: 100px;
    font-size: var(--h2-font-size);
    font-weight: 400;
    background-color: var(--primary-color);
    box-shadow: var(--shadow);
    border: var(--border);
    justify-content: center;
}

#alarm {
    background-color: red;
    -webkit-animation: blink 1s steps(5, start) infinite;
    animation: blink 1s steps(5, start) infinite;
}

@keyframes blink {
    to {
        visibility: hidden;
    }
}

.guess-container {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.guess {
    border-radius: 5rem;
    box-shadow: var(--shadow);
    cursor: pointer;
    overflow-x: hidden;
    pointer-events: all;
    min-width: 100%;
    width: 100%;
    padding: 5px;
    padding-inline: 20px;
    border: var(--border);
    transition: width 0.5s ease;
    align-self: flex-end;
    gap: 5px;
}

.guess:hover {
    width: calc(100% + 20px);
}

.confirm-guess {
    max-width: fit-content;
    aspect-ratio: 1;
    border-radius: 5vh;
    cursor: pointer;
    box-shadow: var(--shadow);
    transition: color 0.5s;
    margin-top: auto;
}

.active {
    color: var(--primary-color);
    font-size: var(--h1-font-size);
    border: var(--border);
}

.active:hover {
    background-color: black;
}

.inactive {
    color: lightgrey;
    font-size: var(--h2-font-size);
}

summary::marker {
    color: var(--accent-color);
}

summary {
    color: var(--accent-color);
    text-align: left;
    font-size: var(--h3-font-size);
    font-weight: bolder;
    cursor: pointer;
}

details p {
    text-align: left;
    font-size: var(--text-font-size);
}

