#root {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  text-align: center;
  height: 100vh;
  max-height: 100dvh;
  width: 100vw;
  overflow: hidden;
  background-color: var(--background-color);
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  background-color: #0005;
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  pointer-events: fill;
  align-items: center;
  justify-content: center;
}