#root {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  min-height: 100vh;
  min-width: 100vw;
  overflow-y: hidden;
}

.leaflet-container {
  min-height: 100vh;
}
