.pop-up-window {
  padding: calc(var(--base-sizing) * 1.5);
  width: calc(var(--base-sizing) * 30);
  min-width: 250px;
  background-color: var(--primary-color);
  box-shadow: var(--shadow);
  border: var(--border);
  border-radius: 10px;
  pointer-events: all;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.pop-up-window button {
  width: 100%;
  justify-content: center;
}

.text-button:disabled{
  color:gray;
}
.text-button {
  width: fit-content;
  text-wrap: nowrap;
  border: none;
}
.text-button:hover {
  border: none;
}
.text-button:not(:disabled):hover {
  text-decoration: underline;
  text-decoration-color: var(--font-color);
  text-decoration-thickness: 3px;
}


/* image component */
.img-div {
  min-width: 50px;
  min-height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.img-div:hover {
  scale: 1.01;
  transition: scale 0.3 ease;
}

.fullscreen-img {
  position: absolute;
  top: 10vh;
  bottom: 7vh;
  left: 1vw;
  right: 1vw;
  z-index: 2;
  background-repeat: no-repeat;
  background-size: contain;
}