.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    background-color: #0005;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container-screen {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    width: clamp(300px, 40vw, 50vw);
    height: fit-content;
    max-height: 80vh;
    background-color: var(--background-color);
    overflow: hidden;
    padding: 2rem;
    text-align: left;
    box-shadow: var(--shadow);
    border-radius: 1rem;
}

.container-screen ul{
    max-height: 70%;
    flex:1;
    overflow-y: auto;
}

.container-screen p {
    padding-inline: 5vw;
    text-align: center;
}

.end-window {
    position: absolute;
    z-index: 10;
    bottom: 5vh;
    left: 50%;
    transform: translateX(-50%);
}

.end-window * {
    margin-block: 1vh;
}

li {
    padding-block: 1vh;
    list-style-type: circle;
    margin-inline: 10%;
}