.leaflet-container {
    position: absolute;
    height: 20%;
    width: 100%;
    z-index: 0;
}

.leaflet-control-container {
    display: none;
    position: absolute;
    right: 10vh;
    bottom: 20vh;
    padding: 1vh;
}

.leaflet-control-attribution {
    display: none;
}